/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: #a6a6a6 #101010;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 6px;
}

*::-webkit-scrollbar-track {
	background: #101010;
}

*::-webkit-scrollbar-thumb {
	background-color: #a6a6a6;
	border-radius: 10px;
}
